---
  title: We got water
---

= partial "article_header"

%img{src: "https://lh5.googleusercontent.com/-CcOX1YiyrE4/ULPt_gmPySI/AAAAAAAA6BA/j1ZRFTQzNow/s1024/DSCN0726.JPG"}
%p
  So we got a well dug, poso en espanole. 
  