---
  title: New Ruins has found a home
---
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F10538800&amp;auto_play=false&amp;show_artwork=false&amp;color=f97576"></iframe>

= image_tag "https://lh6.googleusercontent.com/-xgsltXgoPe4/ULhGGs4D1VI/AAAAAAAA6FA/57ZiCdmzo24/s1152/DSCN4089.JPG", width: 400, height: 300

%p
  Above we are celebrating our access to the rights to use the land behind us on Venado beach. Elena, Fernando, Angela, Nic and Majo champagne in hand and history in the making.
%p
  Its been a long and arduous process to get here. But here starts the beginning to a new era for all of us here at New Ruins. It could have maybe been faster or more decisive, but we are in mexico so we didn't do it that way. A lot of time spent looking at many small beaches and the communities around them. Flip-flopping, back pedaling, talking ourselves or oneself in a circles; we've tried it all. But alas we have arrived, Home. For those of us who were bored sitting there with their engines running, now find themselves in front of a giant slab of stone waiting to be sculpted. 

%p
  But without further blah blah blah, let me show you what we are working with

%div
  %h2
    Costa Chica, Oaxaca Mexico
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=venado+oaxaca&amp;hl=en&amp;sll=17.081305,-96.735731&amp;sspn=0.244164,0.321007&amp;hq=venado&amp;hnear=Oaxaca,+Mexico&amp;t=h&amp;fll=15.943834,-97.368093&amp;fspn=0.030701,0.040126&amp;ie=UTF8&amp;ll=15.947135,-97.369595&amp;spn=0.0307,0.040126&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=venado+oaxaca&amp;hl=en&amp;sll=17.081305,-96.735731&amp;sspn=0.244164,0.321007&amp;hq=venado&amp;hnear=Oaxaca,+Mexico&amp;t=h&amp;fll=15.943834,-97.368093&amp;fspn=0.030701,0.040126&amp;ie=UTF8&amp;ll=15.947135,-97.369595&amp;spn=0.0307,0.040126&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

%div
  %h2
    More Photos
  <table style="width:194px;"><tr><td align="center" style="height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/103386516731232224504/RocaBlancaLand?authuser=0&authkey=Gv1sRgCJTRo5H4nY7hOw&feat=embedwebsite"><img src="https://lh6.googleusercontent.com/-LPkmzX5n3Q8/UJhY470PNqE/AAAAAAAA5x8/R5FSjRr_pwQ/s160-c/RocaBlancaLand.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/103386516731232224504/RocaBlancaLand?authuser=0&authkey=Gv1sRgCJTRo5H4nY7hOw&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Roca Blanca Land</a></td></tr></table>
  = link_to "Original Google Earth File", "RocaBlancaLand.kmz"
  
%div
  %h2
    Video Tour
    
  <iframe width="560" height="315" src="http://www.youtube.com/embed/AEeP9njumx4" frameborder="0" allowfullscreen></iframe>
  %br
  <iframe width="560" height="315" src="http://www.youtube.com/embed/6JO6J9R3jdE" frameborder="0" allowfullscreen></iframe>