---
  title: We got water
---

= link_to "https://plus.google.com/photos/103386516731232224504/albums/5815253054844418241" do
  = image_tag "https://lh5.googleusercontent.com/-CcOX1YiyrE4/ULPt_gmPySI/AAAAAAAA6BA/j1ZRFTQzNow/s1024/DSCN0726.JPG", height: "340" , width: "460" 
%p
  Well in spanish is Poso, and we got one now. It is a 5 inch tube jammed 9 meters into the ground (sand). The tube has little slits all in it and gravel is filled in around the tube. It cost less than 500 USD with materials and labor. So the lagoon water filtering thru the mountain then hits all sand and comes out very clean. The locals tell me that we will have unlimited sweet water, mas dulce que garafon. And yes i drank Mexican Well Water; which funny enough is a cocktail invention of my father, it consists of Tequila and unfiltered apple juice/cider.
  
%p
  Water represents a big first step. I don't have a pump or a water storage tank yet, but they are on order. Having cleaning water enables so much. We can spend more time there working, and the time we go spend will be more comfortable and productive. We can start watering the existing thirsty plants and start planting new ones. We can cook better and cleaner. We can refresh ourselves after working, pictured above is the first shower. We are all very excited about this first step.