---
  title: Ahhhh Poop!
---

%p
  Well so everybody has to poop. We all know that. But where does yours go and why? So often people forget about these details or lose prespecitve on why these decisions have already been made. I grew up with a dry toliet. Others with water using toliets. This mentality at an early age sets the tone for what the individual finds appropriate. 
%p
  Did you know that an average house in american uses 20% of its water flushing toliets. Near the coast fresh water is usually a scarce resourse. Here at Venado we are in a unique sitiuation, due to our position to the laguna and the lack of inhabitants, and therefore competition. Either way we believe that composting our bodily waste and using it as fertilizer is preferible to the alternative of storing it in a concret box closed off from reentering the bioshere. 
%p
  We have broken ground on our first composting toliet. 