%h1
  = (DateTime.parse("27-12-2013") - DateTime.now).to_i
  Days til BMX

%p BMX is our annual celebration of life, art, music and self expressionism. It is a week long camping party, focused on self-reliance and leave-no-trace.
