%h1
  Contact Us

%p
  We highly value participation and so we would love to hear what you have to say.
  
  info@ruinasnuevas.com
  
  = link_to "facebook", "#"
  = link_to "twitter", "#"
  = link_to "Instagram", "#"