%h1 Contact Us

%p We highly value participation and so we would love to hear what you have to say.
%p info@newruins.com
  
%ul
  %li= link_to "facebook", "#"
  %li= link_to "twitter", "#"
  %li= link_to "Instagram", "#"