%h2
  New Ruins Ethos

%p
  Our mission is to create a vibrant and sustainable community on the beautiful beaches of Oaxaca, Mexico following the ethics of 
  = link_to "permaculture", "http://en.wikipedia.org/wiki/Permaculture"
  and radical self expression.

%p
  Our intention is to realize our own version of paradise by building our own homes and living spaces, growing our own food, and designing as such to inspire creativity, ingenuity, and play.
%ul
  %li
    We strive to nurture the health of our total being.
  %li
    We believe in an active lifestyle and eating well.
  %li
    We believe in attaining higher knowledge and continual education.
  %li
    We believe in the use of appropriate technology in order to achieve our goals.
  %li
    Perhaps most of all, we believe in human’s inherent spiritual need for simple “fun.”
  %li
    We delight in the adventure of providing for ourselves, and beautifying our environment at the same time. 
  %li
    We believe in the power and passion of the individual fueling the greater cause of the community. Participation is paramount.
  %li
    We love and tolerate each other as family; yet respect and inspire each other as comrades in arms against the machine of complacency. 
%p
  One day distant future cultures will explore the crumbling towers and lush gardens of our long-lost community and marvel. We are New Ruins.