%h1
  The Ruins

= link_to "https://picasaweb.google.com/103386516731232224504/RocaBlancaLand?authkey=Gv1sRgCJTRo5H4nY7hOw#" do
  = image_tag "https://lh6.googleusercontent.com/-azurJSu0Vsw/UJhZCyV6fTI/AAAAAAAA5rU/1YM6QYIw7DQ/s800/DSCN0106.JPG", width: 300, height: 400

%p
  The Ruins are nestled into a 1 hectare rocky hillside amidst a large coconut plantation in front of the Pacific Ocean along the stunning Costa Chica of Oaxaca Mexico. There is ample clean water filtered thru the hillside from the lagoon behind. There are amazing trees and giant cacti mixed in with large climbable rocks. Ocean provides us with great waves for surfing, incredible diving location, fresh fish, lobster and seaweeds.

%h2
  Our Plans Boast:
%ul
  %li
    100% Solar Power
  %li
    Total wifi Coverage
  %li
    Zero Cell Phone Coverage
  %li
    Natural Amphitheater and Stage
  %li
    Ecological Constructions with locally sourced labor and materials
  %li
    Edible Landscape (nom nom nom)
  %li
    Climbable Landscapes, Constructions and Art. Perched vantage points and hidden hangouts
  %li
    Tree suspended basket beds
    
We Are Offering:
%ul
  %li
    Cabaña Rentals
  %li
    Surfing: rentals, classes and multi day-excursions
  %li
    Scuba and Free Diving: certifications and day trips
  %li
    Rock Climbing and Bouldering. 
    = link_to "See our rock climbing page for more info", "/climb"
  %li
    Trips to local sites: Lagoons that glow with bioluminescent plankton and incredibly crafted hot springs

