%h1
  Our Services
  
%p
  We are an interdisciplinary team, so the scope of our work is wide reaching. We also represent a larger network of artists, designers, builders and thinkers.
  
%ul
  %li
    Permaculture Consulting: We can help you design and build your own permaculture project or design an edible food forest around your home.
  %li
    Ecological Construction and Design: Like what you see here? We can do it for you. Contact us to see what we could do for you.
  %li
    Web And Mobile Application Development: With many years and successful projects on our backs, we can build it all.
