%h1
  Activities
  
%p
  We are located close to many great natural and cultural activities
  
%h3
  Roca Blanca
  
%ul
  %li
    1 KM walking
  %li
    Surfing
  %li
    Swimming
  %li
    Scuba Diving
  %li
    Rock Climbing
    

%h3
  Aguas Termales de San Jose Manilatepec

%ul
  %li
    15 minutes
  %li
    Jungle mountain hotsprings
  %li
    Beautifully crafted soaking pools
  %li
    Horse Back Riding
  %li
    Swimming
  %li
    Camping
  %li
    Waterfall


%h3
  Lagoons of Manilatepec
  
%ul
  %li
    Wake Boarding
  %li
    Fishing
  %li
    Swimming in bioluminescent plankton

%h3
  Lagoons of Chacahua
  
%ul
  %li
    30 minutes
  %li
    Surfing
  %li
    Fishing
  %li
    Camping
  %li
    Boat Tours to see mangrove trees, crocs and birds
    
%h3
  Puerto Escondido
%ul
  %li
    45 minutes away
  %li
    World Class Surfing
  %li
    Parties
  %li
    Babes
  %li
    Beaches
  %li
    Closest Civilization 

%h3
  San Jose Del Pacifico
%ul
  %li
    3 hours away
  %li
    Mountain Retreat
  %li
    Hiking
  %li
    Cleansing
    
%h3
  Mazunte

%ul
  %li
    2 Hours away
  %li
    Hippie Paradise
  %li
    Turtle Sanctuary 