%h1 Activities
  
%p We are located close to many great natural and cultural activities
  
%h3 Roca Blanca

=link_to "http://www.tomzap.com/FLIGHTplayas_AJ.html", target: "new" do
  = image_tag "/images/rocablanca.jpg"

%ul
  %li 1 KM walking
  %li Surfing
  %li Swimming
  %li Scuba Diving
  %li Rock Climbing
    
%h3 Aguas Termales de San Jose Manilatepec
= image_tag "/images/aguastermales1.JPG"
= image_tag "/images/aguastermales2.JPG"

%ul
  %li 15 minutes
  %li Jungle mountain hotsprings
  %li Beautifully crafted soaking pools
  %li Horse Back Riding
  %li Swimming
  %li Camping
  %li Waterfall


%h3 Lagoons of Manilatepec
= image_tag "http://i2.esmas.com/editorial-televisa/2011/07/12/243138/bioluminiscencia-638x336.jpg"

%ul
  %li Wake Boarding
  %li Fishing
  %li Swimming in bioluminescent plankton

%h3 Lagoons of Chacahua
%ul
  %li 30 minutes
  %li Surfing
  %li Fishing
  %li Camping
  %li Boat Tours to see mangrove trees, crocs and birds
    
%h3 Puerto Escondido
%ul
  %li 45 minutes away
  %li World Class Surfing
  %li Parties
  %li Babes
  %li Beaches
  %li Closest Civilization 

%h3 San Jose Del Pacifico
%ul
  %li 3 hours away
  %li Mountain Retreat
  %li Hiking
  %li Spritual Cleansing
    
%h3 Mazunte
%ul
  %li 2 Hours away
  %li Hippie Paradise
  %li Turtle Sanctuary
  